<article>
  <section>
    <div class="container">
      <h1><%= @article.title %></h1>
      <% if @article.cover_image.attached? %>
        <div class="cover-image">
          <%= image_tag @article.cover_image %>
        </div>
      <% end %>
    </div>
  </section>

  <section>
    <div class="container">
      <div><%= simple_format raw @article.content %></div>
    </div>
  </section>
<article>